* {
    margin: 0;
    padding: 0%;
}
body{
    background-color: #FDECDC;
}
.imguno{
    width: 1500px; /* Ancho de la imagen */
    height: 500px; /* Alto de la imagen */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(5, 10, 10, 0.5); /* Sombra */
    margin: 10px auto; /* Margen */
    display: block; /* Display block para centrar */
    animation: fade-in 6s;
}
.titulo {
    font-size: 80px;
    font-weight: 400;
    color: #636363;
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
    border-bottom: 1px solid #ccc;
    animation: fade-in 6s;
  } 
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .contenedor {
    text-align: center;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    width: 100%;
    height: 40px;
    background-color: #636363;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #4CAF50;
} 

footer {
    background-color: #FDECDC;
    padding: 40px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:1px;
  }
.col-md-6 {
    width: 40%;
  }
  
.imagen-footer {
    width: 100%;
    height: 200px;
    object-fit:fill;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    animation: fade-in 6s;
  }

.titulouno {
    font-size: 60px;
    font-weight: 400;
    color: #636363;
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
    animation: fade-in 6s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
    }